body{
   background-color: #F5F5F5;
}

.conteudo__cabecalho{
   background-color: #E8E8E8;
}

.cabecalho .container__nav{
   width: 80%;
   margin: 0 auto;
   font-family: 'nunito';
   border-bottom: 1px solid #cccccc;
   padding: 15px 0;
}

.lista__cabecalho__nav{
   display: flex;
   gap: 30px;
   color:#656565;
   font-size: 14px;
}

.cabecalho .container__conteudo{
   width: 80%;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 2% 0;
}

.logo__img{
   width: 155px;
   height: 40px;
}

.icon__perfil img{
   vertical-align: sub;
}

.menu__principal{
   width: 80%;
   margin: 0 auto;
}

.lista__menu__principal{
   display: flex;
   gap: 30px;
   padding: 2% 0;
   font-family: 'nunito';
   color:#656565;
}





/* ############################## */
.editorial{
   width: 80%;
   margin: 0 auto;
   color: #3477c8;
   font-family: 'Quicksand', sans-serif;
}  

.titulo__p__editorial{
   font-size: 24px;
   font-weight: 700;
   text-align: center;
   margin: 4% 0;
}

.editorial .container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   row-gap: 30px;
}

.card__editorial{
   width: 30%;
   text-align: left;
   border-bottom: 4px solid #3477c8;
   border-radius: 5px;
}


.img__card__editorial{
   border-radius: 10px 10px 0  0;
}

.titulo__card__editorial{
   font-weight: 700;
   color: #3477c8;
   font-size: 16px;
   padding: 4% 0;
   
}

.texto__card__editorial{
   font-size: 12px;
   font-weight: 400;
   color: #434343;
   padding: 4% 0;
}

.link__card__editorial{
   font-size: 14px;
   font-weight: 700;
   color: #252525;
   padding: 3% 0;
   border-top: 2px solid #3477c8;
}






/* ################################### */
.destaque{
   width: 80%;
   margin: 0 auto;
   color: #3477c8;
   font-family: 'Quicksand', sans-serif;
}  

.titulo__p__destaque{
   font-size: 24px;
   font-weight: 700;
   text-align: center;
   margin: 10% 0 3%;
}

.destaque .container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   row-gap: 30px;
}

.card__destaque{
   width: 30%;
   text-align: left;
   border-bottom: 4px solid #3477c8;
   border-radius: 5px;
}

.img__card__destaque{
   border-radius: 10px 10px 0  0;
}

.titulo__card__destaque{
   font-weight: 700;
   color: #3477c8;
   font-size: 16px;
   padding: 4% 0;
}

.texto__card__destaque{
   font-size: 12px;
   font-weight: 700;
   color: #969696;
   padding: 2% 0;
}

.categoria__card__destaque{
   font-size: 12px;
   font-weight: 700;
   color: #db71bf;
   padding: 3% 0;

}

.programacao__card__destaque{
   font-size: 12px;
   font-weight: 400;
   color: #434343;
   font-family: 'nunito';
   padding: 1% 0;

}

.programacao__card__destaque__negrito{
   font-weight: bold;
}




/* ############## Rodape ##################### */

.rodape{
   background-color: #434343;
   margin-top: 3%;
   font-family: 'nunito',sans-serif;
}

.rodape .container{
   display: flex;
   justify-content: space-between;
   color: #ffffff;
   width: 80%;
   margin: 0 auto;
   padding: 2% 0;
}

.logo__rodape{
   width: 35%;
}

.txt__logo__rodape{
   font-size: 12px;
   line-height: 1.6em;
}

.redes__sociais__rodape{
   margin-top: 5%;
   font-size: 16px;
   width: 100%;
}

.titulo__redes__sociais__rodape{
   font-size: 18px;
   line-height: 2.5em;
}

.lista__redes__sociais__rodape{
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.icon__redes__sociais__rodape:hover{
   cursor: pointer;
}



.lista__menu__rodape li a{
   text-decoration: none;
   color: #ffffff;
}

.lista__menu__rodape li{
   padding: 2.6% 0;
}

.opcao__rodape{
   line-height: 1.0em;
   width: 25%;
}

.titulo__opcao__rodape{
   font-size: 16px;
}

.txt__opcao__rodape{
   font-size: 10px;
}

.aaa{
   margin-bottom: 15%;
}